@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ccc;
}

.container {
  display: grid;
  place-items: center;
}

.container button {
  margin-top: 2rem;
  padding: 0.4rem 0.9rem;
  font-size: 1.1rem;
  background-color: rgb(15, 19, 18);
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: 0.15s linear;
}

.container button:hover {
  background-color: rgb(34, 39, 38);
  cursor: pointer;
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 3px solid #333;
  border-radius: 10px;
}

.color p {
  padding: 0.3rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 3px;
}
